*{
    margin: 0px;
    padding: 0px;

}

body{
    background-color: rgb(10, 95, 95);
}

section{
    width: 500px;
    margin: auto;
}

article{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 20px 20px 20px #000;
    margin-bottom: 15px;

}

article p{
    padding-top: 15px;
    font-size: 25px;
    font-weight: 700;
    color:rgb(23, 23, 102);
}

img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    padding-top: 15px;
    padding-bottom: 20px;

}

h1, div, article, footer{
    text-align: center;
}

h1, footer{
    color: beige;
}

h1{
    padding-top: 15px;
    padding-bottom: 30px;
    font-size: 40px;
}

footer{
    font-size: 25px;
   
}